@media screen and (max-width:991px){
    h3{
        font-size:1.2rem;
    }
    .nav-toggle{
        display: flex;
        margin-right: 20px;
    }
    .nav-links{
        display: none;
    }
    .example-area{
        gap: 15px;
        padding-inline: 0px;
        margin-inline: 0px;
    }
    .examples-card{
        width: calc(50% - 10px);
        height: 180px;
    }
    .cta-section{
        padding-block:80px;
    }
}
@media screen and (max-width:767px){
    h1{
        font-size: 2.5rem; 
    }
    h3{
        font-size: 1.125rem;
    }
    p{
        font-size: 1rem;
    }
  .header-section{
    flex-direction: column-reverse;
  }
  .header-left h1{
    text-align: center;
  }
  .header-left{
    width: 100%;
  }
  .header-left a{
    padding: 14px 50px;
  }
  .features-card{
    width: 50%;
  }
 .bfs{
    flex-direction: column;
    gap: 0px;
 }
.bfs1{
    flex-direction: column-reverse;
}
.bfs-text{
    gap: 35px;
}
.headings{
    flex-direction: column;
}
.link-column{
    padding-top: 20px;
}
}